.blogList{
    grid-auto-rows: auto;
    @apply container content-end justify-between gap-1;
}
.articleImg{
    grid-column:1;
    grid-row:1;
    @apply bg-center mx-auto w-fit xl:h-40;
    }
.goToBlog{
    grid-column: 3;
    grid-row: 1;
    top:0%;
    position:fixed;
    @apply p-2 lg:left-0 sm:left-6 left-0 md:left-0 bg-slate-400 rounded-lg text-center mb-2 h-fit lg:mb-0 w-fit hover:shadow-sm hover:shadow-gray-400 relative place-content-end origin-bottom duration-300 bottom-0 hover:outline-8;
}
.blogArticleExterior{
    @apply bg-slate-200 rounded-lg xl:left-1/2;
}
.articleTitle{
    top:0%;
    position:relative;
    grid-column:2;
    grid-row:1;
    @apply lg:text-3xl font-bold font-Sora antialiased text-center ;
    }
.innerBlog{
    display:grid;
    grid-template-rows: 1;
    left:50%;
    grid-template-columns: .5fr 1fr .5fr;
    @apply p-2 bg-slate-300 rounded-xl text-center my-2 ;
}
.date{
    position:relative;
    grid-column:2;
    grid-row:1;
    top:60%;
    @apply opacity-0 md:opacity-100 text-center;
}
@media (min-width: 768px){
    .innerBlog{
        grid-template-columns: 0.5fr 2fr .5fr;
        display:grid;
    grid-template-rows: 1;
    left:50%;
    
    @apply p-2 bg-slate-300 rounded-xl text-center my-2 ;
    }
    .goToBlog{
        grid-column: 3;
        grid-row: 1;
        top:20%;
        position:fixed;
        @apply p-2 xl:left-1/2 lg:left-1/3 sm:left-8 left-10 md:left-0 bg-slate-400 rounded-lg text-center mb-2 h-fit lg:mb-0 w-fit hover:shadow-sm hover:shadow-gray-400 relative place-content-end origin-bottom duration-300 bottom-0 hover:outline-8;
    }
    .articleTitle{
        top:20%;
        position:relative;
        grid-column:2;
        grid-row:1;
        @apply lg:text-3xl font-bold font-Sora antialiased text-center ;
        }
}
@media (min-width:1296px){
    .innerBlog{
        grid-template-columns: 1fr 2fr .5fr;
        display:grid;
    grid-template-rows: 1;
    left:50%;
    
    @apply p-2 bg-slate-300 rounded-xl text-center my-2 ;
    }
    .goToBlog{
        grid-column: 3;
        grid-row: 1;
        top:40%;
        position:fixed;
        @apply p-2 xl:left-1/2 lg:left-1/3 sm:left-8 left-10 md:left-0 bg-slate-400 rounded-lg text-center mb-2 h-fit lg:mb-0 w-fit hover:shadow-sm hover:shadow-gray-400 relative place-content-end origin-bottom duration-300 bottom-0 hover:outline-8;
    }
    .articleTitle{
        top:40%;
        position:relative;
        grid-column:2;
        grid-row:1;
        @apply lg:text-3xl font-bold font-Sora antialiased text-center ;
        }
}