.app__outercursor{
    position: fixed;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    // background-color: var(--outercursor-color);
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--dark-grey-color);
    z-index: 15;
    pointer-events: none;
    backdrop-filter:blur(4px);
    @media screen and (min-width: 2000px) {
        width: 70px;
        height: 70px;
        
    }
}
.app__innercursor{

}